# Binaries
*.exe
*.dll
*.so
*.dylib
*.out
*.o
*.a
*.log

# Editor / OS Files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# Go Related
/bin/
/pkg/
/vendor/
*.mod
*.sum
*.db
*.log

# Secrets
.env
config.yaml
config.json

# Dependencies
node_modules/
